
services:
  # Servicio de Base de Datos
  db:
    image: postgres:15-alpine
    environment:
      POSTGRES_DB: my_reports_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: root_password
    volumes:
      # Esto ejecuta los scripts SQL en orden alfabético al iniciar
      - ./db:/docker-entrypoint-initdb.d
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d my_reports_db"]
      interval: 5s
      timeout: 5s
      retries: 5

  # Servicio de Next.js (Web)
  web:
    build: ./web
    ports:
      - "3000:3000"
    environment:
      # Conexión usando el usuario RESTRINGIDO (app_user), no postgres (root)
      DATABASE_URL: postgres://app_user:user_password@db:5432/my_reports_db
    depends_on:
      db:
        condition: service_healthy
    volumes:
      # Sincronizar código en desarrollo para no reconstruir docker siempre
      - ./web:/app
      - /app/node_modules